* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #f8f2f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(105,161,245);
    background: linear-gradient(90deg, rgba(105,161,245,1) 19%, rgba(69,113,236,1) 82%, rgba(105,161,245,1) 100%);
    padding: 15px;
    font-family: 'Apple Chancery';
    color: black;
}

h2, h4, label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    padding: 20px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #d6AAAA;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 100px;
    background-color: #f3e2e2;
}


#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #f8f2f7;
}

img {
    border-radius: 60%;
    border: 2px solid white;
    height: 200px;
    
}

#photo-btn {
    margin-top: 15px;
    background-color: #69A1F5;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 10px;
}

#edit-name-btn, #edit-age-btn, #delete-btn {
    background-color: #69A1F5;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 1px;
    margin-left: 5px;
}

#submit {
    background-color: #69A1F5;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 5px;
}

#event-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 550px;
    padding: 10px;
    gap: 30px;
    background-color: #f8f2f7;
}

#event-group {
    display: inline;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input, select {
    background-color: #d2e1f7;
    border-radius: 5px;
}

p {
    display: inline;
    
}

.hidden {
    display: none;
}

#mdapp-widget {
    padding: 20px;
}

details {
    padding-left: 50px;
}

@media screen and (max-width: 1366px) {
    #event-container {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 350px;
        padding: 10px;
        gap: 30px;
        background-color: #f8f2f7;
    }
}

@media screen and (max-width: 480px) {
    #event-container {
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
        padding: 10px;
        gap: 30px;
        background-color: #f8f2f7;
    }

    #profile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 25px;
        background-color: #f3e2e2;
    }

    #event-group {
        display: inline;
        border-radius: 5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    }

    h1 {
        font-size: 25px;
    }

    #schedule {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        background-color: #f8f2f7;
    }
}