* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #f8f2f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #69A1F5;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

h2, h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    padding: 20px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #d6AAAA;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 100px;
    background-color: #f3e2e2;
}

#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #f8f2f7;
}

img {
    border-radius: 60%;
    border: 2px solid white;
    height: 250px;
    
}

#photo-btn {
    margin-top: 15px;
    background-color: #69A1F5;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 10px;
}

#edit-name-btn, #edit-age-btn {
    background-color: #69A1F5;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 1px;
    margin-left: 5px;
}

#submit {
    background-color: #69A1F5;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 5px;
}

#event-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 400px;
    padding: 10px;
    gap: 20px;
    background-color: #f8f2f7;
}

#event-group {
    display: inline;
}

p {
    display: inline;
    
}

.hidden {
    display: none;
}